

#manga-container {
    display: grid;
    grid-template-columns: repeat(3, 500px);
    border: 1px solid rgb(183, 179, 179);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0 auto;
    max-width: 1500px;

}

.card {
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(192, 188, 188);
}

#title {
    text-decoration: none;
    color: rgb(2, 67, 67);
    text-align: center;
    margin: 5px 0;
    padding: 10px;
    font-size: 15px;

}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    background-color: rgb(231, 231, 231);
}

.genres {
    display: flex;
    justify-content: space-evenly;
    font-size: 10px;
    background-color: rgb(240, 240, 240);

}

.genres p {
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
}

.genres p:hover {
    background-color: rgb(113, 141, 227);
}

.img-container {
    display: flex;
    gap: 5px;
}

.p-con {
    overflow: auto;
    height: 300px;
    font-size: 12px;
    letter-spacing: 1px;
    
}

.card-footer {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    align-items: center;
    font-size: 13px;

}

.button button {
    border: none;
    border-radius: 5px;
    padding: 7px;
    background-color: rgb(87, 87, 255);
    color: white;
    width: 150px;
    box-sizing: border-box;
}

.button button:hover {
    transition: all 500ms ease-in-out;
    background-color: white;
    color: black;
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    padding: 10px;

    
}
#search input:first-child {
    border: 1px solid rgb(244, 243, 245);
    height: 20px;
    padding: 8px;
    width: 100px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}
#search input:last-child {
   border: none;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   padding: 10px;
   width: 100px;
   background-image: url(https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#search input:first-child:hover {
    flex: 1;
    background-color: bisque;
    border: none;
    transition: all 500ms ease-in-out;
}
.info {
   font-size: 12px;
   display: flex;
   flex-direction: column;
   align-items: baseline;
   justify-content: center;
   
}

.info a {
    text-decoration: none;
}
.studio {
    background-color: rgb(229, 229, 229);
    display: block;
}
.theme {
    background-color:  rgb(229, 229, 229);
}
#genre-selector {
    border: none;
    background-color: azure;
    border: 1px solid plum;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    margin: 5px;
    max-width: 1500px;
}
#genre-selector:focus {
    transition: all 500ms ease-out;
    background-color: rgb(87, 87, 255);
    color: whitesmoke;
    
    
}
#anime-container {
    display: flex;
    max-width: 1500px;
    margin:0 auto;
    box-shadow: 5px 3px -10px;
}
#detail p {
    line-height: 16px;
    letter-spacing: 1px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#jump {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  font-size: 30px;
}
#jump button {
    border: none;
    background-color: white;
}
