#title {
    
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
    color:#1e57dc ;
    text-decoration: none;
    display: block;
    
}
body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
    font-size: 13px;

}
.fa-solid {
    flex: 1;
}

#manga-container {
    width: 35vw;
}
#manga-status {
    display: flex;
    justify-content: space-between;
}

h5 {
    display: inline;
    font-size: 10px;
    
}

#manga-nav {
    margin-top: 5px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    padding: 0;
    justify-content: center; 
    flex-wrap: nowrap;
   
}
.content {

        overflow: auto;
        height: 400px;
  
}
#myBtn {
    border: none;
    background-color: white;
}
.buttons {
    display: flex;
    gap: 10px;
    justify-content:center;
    background-color: rgb(206, 206, 206);
    
    
}
.buttons *:hover {
    background-color: #94b3fb;
}
.buttons button{
    border: none;
    border-radius: 40px;
    margin: 10px 1px;
    font-size: 10px;
    background-color: white;
    

}
#bodyCon {
    display: flex;
    gap: 5px;
    
}
