* {
  box-sizing: border-box;
}

#manga-container {
  border: #f0f0f0 1px solid;
  width: 50%;
}

h1 {
  background-color: aliceblue;
  text-align: center;
}
p {
  color: #7d7d7d;
  font-size: 9px;
}
.para {
  background-color: #f8f8f8;
  text-align: center;
  height: 20px;
  margin-bottom: -1px;
  padding: 5px;
}
.btns {
  background-color: #f0f0f0;
  text-align: center;
  height: 24px;
}
h4 {
  color: #1c439b;
  text-align: center;
}

a {
  text-decoration: none;
  color: #787878;
  background-color: #fff;
  border: #e1e7f5 1px solid;
  border-radius: 20px;
  padding: 2px;
  font-size: 9px;
}
a:hover {
  background-color: #e1e7f5;
}
#m-para{
    
}