body {
    background-color: black;
}


.container {
    text-align: center;
    max-width: 600px;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
}


h1 {
    text-align: center;
}

.input_section {
    display: flex;
    height: 50px;
    justify-content: center;

}

#taskInput {
    
    background-color: rgb(245, 228, 212);
    border: none;
    border-bottom: 2px solid orange;
    width: 300px;

}

#addButton {
background-color: orange;
color: white;

border: none;

}

#list {
    width: 400px;
    border-bottom: 2px solid black;
    margin: 20px auto;
}
