* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    width: 300px;
    height: 380px;
    border: 1px solid gray;
}

.card-header h6 {
    text-align: center;
    font-size: 15px;
    color: rgb(39, 79, 166);
    margin: 20px 5px;
}

.row {
    display: flex;
    justify-content: space-around;

}

img {
    width: 10rem;

}

p {
    padding: 5px 1px;
    margin: 0;
    background-color: rgb(245, 245, 245);
    text-align: center;
    font-size: 13px;
    color: gray;
}

.text-con {
    font-size: 12px;
    height: 230px;
    overflow-y: scroll;
    text-overflow: ellipsis;
}

.fa {
    color: gray;
}