body{
    background-color: black;
}

img{
    width: 200px;
    border-radius: 20px;
    margin: 10px;
    height: 800px;
  
}
img:first-child{
    width: 400px;
}
div{
    display: flex;
    margin-top: 100px;
}
