h3 {
    text-align: center;
    background-color: lightgray;
    border-radius: 15px;
}

#manga_main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.manga-images {
    width: 167px;
    height: 238px;
}

.myTitles {
    text-align: center;
    padding-top: 30px;
    font-size: 14px;
    color: #1c439b;
    width: 334px;
    height: 30px;
    margin: 0 auto;
}

.myMain {
    width: 334px;
    height: 370px;
    border: 2px solid gray;
    border-radius: 15px;
}

.myStatInfo {
    text-align: center;
    font-size: 12px;
    color: #1c439b;
    display: flex;
    justify-content: space-around;
    width: 334px;
    height: 16px;
    background-color: #f8f8f8;
    padding: 8px 0;
    margin-bottom: 0;
    margin-top: 0;

}

.mangeGenre {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: #f0f0f0;
    padding: 1px 4px;
    width: 326px;
    height: 19px;
    margin: 0 auto;
}

.mangeGenre>a {
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    background-color: white;
    padding: 1px 3px;
    color: #787878;
    font-size: 9px;
    text-decoration: none;
    margin: 2px auto;
}

.mangaText {
    color: black;
    width: 155px;
    height: 180px;
    font-size: 11px;
}

.mangaText {
    float: right;
    width: 155px;
    height: 180px;
    padding: 3px 3px;
    margin: 0 auto;
}

.mangaStudioGray {
    color: black;
    font-size: 11px;
    display: flex;
    gap: 6px;
}

.mangaStudioGray>a {
    font-size: 11px;
    text-decoration: none;
    color: black;
}


.mangaStudioGray {
    display: flex;
    line-height: 6px;
    flex-wrap: wrap;
    padding: 2px 2px;
    margin-right: 5px;
}

.ratingContainer {
    display: flex;
    justify-content: space-evenly;
    width: 338px;
    height: 27px;
    font-size: 12px;
    margin-top: -10px;
}

.ratingContainer>h4 {
    margin-top: 8px;
}

.addTolist {
    border: 1px solid #4f74c8;
    background-color: #4f74c8;
    text-align: center;
    color: white;
    pad: 4px 0;
    width: 80px;
    height: 16px;
    border-radius: 8px;
    padding: 2px;
}

.search-big-container {
    display: flex;
    gap: 30px;
}

#search-container>button {
    color: #4f74c8;
}

#search-container ::placeholder {
    background-color: #4f74c8;
    text-align: center;
    color: white;
    font-size: 10px;
}