.container {
    display: flex;
    background-color: aliceblue;
    gap: 10px;
    justify-content: center;
    
    
   
}

.Image {
    flex: 1;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  
}
.img1 {
  background-image: url(https://images.pexels.com/photos/39561/solar-flare-sun-eruption-energy-39561.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) ;

  height: 700px;
  width: 400px;
  flex: 4;
}
.img2 {
    background-image: url(https://images.pexels.com/photos/1853354/pexels-photo-1853354.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.img3 {
    background-image: url(https://images.pexels.com/photos/833184/pexels-photo-833184.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.img4 {
    background-image: url(https://images.pexels.com/photos/256112/pexels-photo-256112.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.img5 {
    background-image: url(https://images.pexels.com/photos/1229042/pexels-photo-1229042.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
h3 {
   position: absolute;
   bottom: 0;
   left: 10px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: white;
   
}