* {
    box-sizing: border-box;
}

body {
    background-color: #acb6e9;
}

h1 {
    color: #c3bbf1;
    font: italic bold 100px Georgia, Serif;
    font-size: 50px;
    text-align: center;
    height: 100px;
    text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
}


.anime-card{
    width: 460px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
}

.title-Text{
    font-size: 20px;
    color: #3535ff;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
}

.anime-genre,
.anime-body,
.anime-footer {
	display: flex;
}

.anime-status {
	display: flex;
	justify-content: space-between;
	background-color:#6868ff;
	padding: 6px 10px;
    color: white;
}

.anime-genre{
    justify-content: center;
    background-color: white;
}

.anime-genre p {
    margin-left: 10px;
    background-color: #c1caf6;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-shadow: 0 2px black;
}

.anime-content {
	overflow: auto;
	height: 400px;
}
#text{
	padding: 10px 10px 0 10px;
}

 #second-p{
    display: none;
 }

#text {
	line-height: 1.4em;
}

#text button {
	display: block;
	margin: auto;
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 10px 0;
}


#info p {
	padding-block: 7px;
	padding-inline: 2px;
}

#info p:nth-child(odd) {
	background-color: #f0f0f0;
}

.anime-footer {
	justify-content: space-around;
	padding-block: 10px;
	background-color: #f8f8f8;
	align-items: center;
    border-radius: 0 0 10px 10px;
}

.anime-footer span {
	color: #545454;
}

#add-list {
	background-color: #4f74c8;
	border: none;
	padding: 7px 25px;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-in;
}

#add-list:hover {
	opacity: 0.5;
}

#anime-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	gap: 20px;
	justify-content: center;
	margin: 20px;
}

#search-container{
	margin-bottom: 20px;
	text-align: center;
}

#search-field{
	height: 50px;
	padding: 10px;
	border: 3px solid #3535ff;;
	width: 500px;
}

#btn{
	height: 50px;
	width: 100px;
	margin-left: -4px;
	padding: 12px; 
	background: #3535ff;
	color: white;
	border: none;
}
.genre-container{
	display: flex;
	justify-content: center;
}

#genre-selector{
	padding: 12px; 
	background: #3535ff;
	color: white;
	margin: 20px;
}


#page-selector{
	text-align: center;
}

#page-selector a {
	border: 3px solid #3a50d9;
	border-radius: 10px;
	background-color: white;
	padding: 10px 13px;
	margin: 30px 5px;

}


