* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


h6 {
    color: rgb(68, 97, 175);
    font-size: 15px;
    text-align: center;
    padding: 20px;
}

#type {
    background-color: rgb(0, 0, 0, 0.1);
    padding: 7px;
    color: rgb(0, 0, 0, 0.5);
    text-align: center;
}

#manga-container {
    border: 1px solid rgb(0, 0, 0, 0.1);
    margin: 20px;
}