h1 {
    text-align: center;
    background-color: purple;
    color: white;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container {
    max-width: 768px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    background-color:#706fd3;
    color: white;
}