body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    background-color: crimson;
    color: white;
    padding: 15px;
    text-align: center;
}
#animes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.anime{
    width: 500px;
    box-shadow: 0 0 10px lightblue;
    padding: 10px;
}
h3{
    text-align: center;
    margin: 0;
    margin-top: 10px;
}
#anime-title{
    text-decoration: none;
    font-size: 20px;
    color: crimson;
}
.anime-status{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 0;
}
.anime-status div{
    text-align: center;
}
#finish{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 0 10px;
    margin: 0 5px;
}
#genres{
    text-align: center;
    margin-bottom: 15px;
}
#genres a {
    margin: 10px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
}
#anime-body{
    display: flex;
    gap: 10px;
    background-color: rgba(220, 20, 60, 0.2);
    padding: 10px;
}
#anime-image{
    height: 300px;
}
#anime-full-text{
    height: 300px;
    overflow: auto;
}
.more-button{
    background-color: rgba(220, 20, 60, 0);
    border: none;
    margin-left: 100px;
    font-size: 20px;
    cursor: pointer;
}
#bottom{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
}
#add{
    background-color: crimson;
    color: white;
    border-radius: 10px;
    padding: 3px 20px;
    border: none;
    cursor: pointer;
}