.container {
    background-color: rgb(253, 254, 254);
    text-align: center;
    margin: 0 auto;

}

#myInput {
    padding: 7px;
    border: none;
    background-color: whitesmoke;
    box-shadow: 0 2px rgb(255, 169, 9);
    
}
#control {
    border-radius: 0;
    padding: 7px;
    
}