* {
	box-sizing: border-box;
	margin: 0;
}

body {
	padding: 20px;
	font-family: Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
	font-size: 11px;
}

#anime-container {
	display: grid;
	grid-template-columns: repeat(3, 340px);
	gap: 20px;
	justify-content: center;
}

.anime-card {
	width: 334px;
	border: 3px solid #f8f8f8;
}

#search-select {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto 20px;
	max-width: 1000px;

}

#search-engine input,
#reset-genre-btn {
	appearance: none;
	border: none;
	outline: none;
}

#search-input {
	flex: 1 1 0%;
	background-color: #4f74c8;
	padding: 0.5rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: white;
	font-size: 1rem;
}


#search-input::placeholder {
	color: #f0f0f0;
}

#search-button {
	color: #1c439b;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
	transition: 0.4s;
	background: none;
}

#select-genre {
	background-color: #4f74c8;
	padding: 5px 10px;
	text-align: center;
	color: white;
	border-radius: 5px;
	font-size: 0.9rem;
	border: none;
	outline: none;
}

#title {
	display: block;
	text-align: center;
	padding-block: 25px;
	font-size: 14px;
	text-decoration: none;
	color: #1c439b;
	font-weight: 700;
	height: 70px;
}

#image {
	width: 50%;
}

.anime-genre,
.anime-body,
.anime-footer {
	display: flex;
}

.anime-status {
	display: flex;
	justify-content: space-between;
	background-color: #f8f8f8;
	padding: 6px 10px;
}

.anime-status span {
	color: gray;
}

#year {
	border-right: 1px solid;
	padding-right: 5px;
}

#status {
	padding-inline: 5px;
}

#eps {
	border-left: 1px solid;
	padding-left: 5px;
}

.arrow {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 10px 0px;
}

#anime-genre {
	background-color: #f0f0f0;
	gap: 10px;
	text-align: center;
	padding-block: 10px;
}

#anime-genre a {
	font-size: 9px;
	border: 1px solid #fff;
	padding: 0px 5px;
	background-color: #fff;
	border-radius: 10px;
	color: #787878;
	text-decoration: none;
	margin: 0 5px;
}

.anime-body {
	gap: 10px;
}

.anime-content {
	overflow: auto;
	height: 250px;
}

#text {
	padding-top: 10px;
	line-height: 1.4em;
}

#text button {
	display: block;
	margin: auto;
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 10px 0;
}

#info p {
	padding-block: 7px;
	padding-inline: 2px;
}

#info p:nth-child(odd) {
	background-color: #f0f0f0;
}

#info p a {
	text-decoration: none;
	color: #1c439b;
}

.anime-footer {
	justify-content: space-around;
	padding-block: 5px;
	background-color: #f8f8f8;
	align-items: center;
}

.anime-footer span {
	color: #545454;
}

#add-list {
	background-color: #4f74c8;
	border: none;
	padding: 5px 20px;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.3s ease-in;
	font-size: 11px;
}

#add-list:hover {
	opacity: 0.5;
}

.fa-icon {
	font-size: 1.2rem;
}

#pagination {
	display: flex;
	justify-content: center;
	margin: 10px auto 25px;
	align-items: center;
}

#pagination a {
	margin: 0 10px;
	background-color: #4f73c8bc;
	width: 37px;
	height: 37px;
	text-align: center;
	padding: 10px 0;
	border-radius: 50%;
	color: white;
	text-decoration: none;
	font-size: 0.8rem;
	transition: background-color .3s;
}

#pagination a.active {
	background-color: #1c439b;
	color: white;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

#pagination a:first-child {
	background-color: white;
	color: #4f74c8;
	font-weight: 700;
	font-size: 2rem;
	padding: 0;
	margin-top: -8px;
}

#pagination a:last-child {
	background-color: white;
	color: #4f74c8;
	font-weight: 700;
	font-size: 2rem;
	padding: 0;
	margin-top: -8px;
}

#reset-genre-btn {
	background-color: #1c439b;
	color: white;
	padding: 6px 20px;
	border-radius: 5px;
}

#select-container {
	display: flex;
	gap: 10px;
}