* {
	box-sizing: border-box;
	margin: 0;
}

h1 {
    background-color: bisque;
    text-align: center;
}

h3{
    color: blue;
	text-align: center;
}


html {
    width: 95vw;
    margin: 0 auto;
}


#manga-class {
    margin-right: 10px;
    border: 1px grey solid;
}

.anime-status {
	display: flex;
	justify-content: space-between;
	background-color: #f8f8f8;
	padding: 6px 10px;
}


#info p {
	padding-block: 7px;
	padding-inline: 2px;
	margin: 0;
}

#info p:nth-child(odd) {
	background-color: #f0f0f0;
}

.anime-footer {
    display: flex;
	justify-content: space-around;
	padding-block: 10px;
	background-color: #f8f8f8;
	align-items: center;
}

.anime-footer span {
	color: #545454;
}

#manga-container {
	display: grid;
	gap: 10px;
	font-size: 13px;
	grid-template-columns: repeat(3, 450px);
}

#manga-card {
	border: 3px solid #f8f8f8;
	width: 450px;
}


