* {
    box-sizing: border-box;
}

body {
    background-color: rgb(141, 230, 220);
    font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#mainDiv {
    width: 334px;
    background-color: white;
    border: 1px solid black
}

h6 {
    text-align: center;
    color: #1c439b;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    font-family: Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
}

#prodsrc {
    display: flex;
    justify-content: center;
    font-size: 11px;
}

#genre {
    display: flex;
    justify-content: center;
    font-size: 9px;
    margin-bottom: 5px;
}
#bodyDiv {
    display: flex;
    font-size: 9px;
}