* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
}

h1 {
    margin-top: 80px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    display: flex;
    justify-content: space-between;

}

.container {
    max-width: 1060px;
    width: 100%;
    margin: auto;
}

.searchContainer {
    margin: 20px 0 20px 0;
}
.divContainer {
    margin-top: 30px;
    width: 334px;
    height: 372px;
    background-color: white;
    border: 1px solid rgb(202, 202, 202);
    display: inline-block;
}

#manga-image {
    object-fit: contain;
    width: 167px;
    height: 238.25px;
    margin: 0;
}

.header {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}
.header a {
    text-decoration: none;
    text-align: center;
    color: #1c439b;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    font-family: Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
    margin: 10px 0 10px 0;
}
/* h6 {
    text-align: center;
    color: #1c439b;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    font-family: Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
    margin: 10px 0 10px 0;
} */

.prodsrc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    background-color: rgba(248, 248, 248, 255);
    height: 24px;
}

.playIcon {
    font-style: normal;
    padding-left: 10px;
}

.playIcon::after {
    content: "\25BA";
    color: #1c439b;
}

.watchIcon {
    font-style: normal;
    font-size: 17px;
    padding-right: 10px;
}

.watchIcon::after {
    content: "\262F";
    color: #1c439b;
}

.prodP {
    margin: 0;
    padding: 3px 0 3px 0px;
}

.genre {
    display: flex;
    justify-content: center;
    font-size: 9px;
    padding: 5px 0 5px 0;
    background-color: rgba(240, 240, 240, 255);
}

.genre button {
    background-color: #fff;
    border: #e1e7f5 1px solid;
    border-radius: 5px;
    color: #787878;
    cursor: pointer;
    display: inline-block;
    font-family: Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
    font-size: 9px;
    line-height: 1.0em;
    margin-right: 4px;
    padding: 1px 4px;
}

.bodyDiv {
    display: flex;
    font-size: 11px;
}

.bodyDivRight {
    height: 230px;
    overflow: auto;

}

.bodyDivP {
    overflow: auto;
    height: 190px;
    padding: 3px 4px 0 8px;
}

.readMoreBtn {
    display: block;
    margin: 0 auto;
    background: none;
    border: none;
    cursor: pointer;
}

.moreBtn {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.moreIcon::after {
    content: "\2193";
}

.bodyDivProducer {
    margin-top: 5px;
    padding-left: 8px;
}

.bodyDivProducer p {
    padding-bottom: 5px;
    line-height: 1.5em;
}

.studioA {
    text-decoration: none;
    color: #1c439b;
}

.bodyDivProducer p:nth-child(1),
.bodyDivProducer p:nth-child(3) {
    background-color: rgba(240, 240, 240, 255);
}

.bodyParagraph {
    margin: 0;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 22px;
    width: 332px;
    margin: 0;
    background-color: rgba(248, 248, 248, 255);

}

.footerP {
    margin: 0;
    font-size: 11px;
    font-weight: 700;
}

.score:before {
    content: "\2606  "
}

.member::before {
    content: "\262D  "
}

.footerPBtn {
    background-color: #4f74c8;
    color: #fff;
    width: 96px;
    border-radius: 3px;
    display: block;
    font-size: 11px;
    height: 19px;
    margin: 0;
    opacity: 1;
    padding: 2px 4px;
    cursor: pointer;
}