.container{
    display: flex;
    gap: 20px;
    justify-content: center;
}
img{
    margin-top: 100px;
    width: 200px;
    height: 600px;
    object-fit: cover;
    border-radius: 15px;
<<<<<<< HEAD
    transition: 0.1s ease-in;
    float:left;
}
#first{
    width: 500px;
}
=======
	transition: all 500ms ease-in;
    float:left;
}



.active {
	width: 500px;
}
>>>>>>> b401d49f648bb6da9612a813fc57dabbd41c876c
