body{
    max-width: 500px;
    width: 100%;
    margin: auto;
}
h1{
    font-family: sans-serif;
    color: #1c315e;
    text-align: center;
}
p{
    text-align: center;
    color: #1c315e;
    font-family: sans-serif;
}
#inputDiv{
  display: flex;
  border-bottom: 2px #f49d1a solid;
  height: 40px;
    
}
#todo-create{
    width: 80%;
    border: none;
    background-color: #fbf6f6;
    padding: 10px;
}
#add{
    width: 20%;
    background-color: #f49d1a;
    color: white;
    border: none;
}
#title{
    margin-bottom: 0;
    
}

/* .inputStyle{
    border: 1px #f49d1a solid;
    margin: 5px;
    display: flex;
    height: 50px;
   
}
.inputStyle input{
    background-color: #eeeeee;
    padding: 10px;
}
.buttonStyle{
    width: 10%;
    background-color: #eeeeee;
    padding: 10px;
} */