body{
    max-width: 500px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}
h1{
    font-family: sans-serif;
    color: #1c315e;
    text-align: center;
}
p{
    text-align: center;
    color: #1c315e;
    font-family: sans-serif;
}
#inputDiv{
  display: flex;
  border-bottom: 2px #f49d1a solid;
  height: 40px;
    
}
#todo-create{
    width: 80%;
    border: none;
    background-color: #fbf6f6;
    padding: 10px;
}
#add{
    width: 20%;
    background-color: #f49d1a;
    color: white;
    border: none;
}
#title{
    margin-bottom: 0;
    
}

.divStyle{
    border: 1px #f49d1a solid;
    margin: 5px;
    display: flex;
    height: 50px;
   
}
.inputStyle{
    background-color: #eeeeee;
    padding: 10px;
    width: 70%;
    border: none;
    font-weight: 800;

}
.buttonStyle1, .buttonStyle2, .buttonStyle3{
    width: 10%;
    background-color: #eeeeee;
    border: none;
    
}
.buttonStyle1{
   
    background-image:url('../img/pen.svg');
    background-size:100%;
    background-repeat: no-repeat;
    border: 10px solid #eeeeee;

}

.buttonStyle2{

    background-image:url('../img/correct.svg');
    background-size:cover;
    border: 10px solid #eeeeee;

}

.buttonStyle3{
    background-image:url('../img/bin.svg');
    background-size:cover;
    border: 10px solid #eeeeee;
}