.row{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
}

.col1 {
    background: url(../img/greg-rakozy-oMpAz-DN-9I-unsplash.jpg);
    width: 600px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: auto;
}
.col2 {
    background: url(../img/jeremy-thomas-4dpAqfTbvKA-unsplash.jpg);
    width: 200px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: auto;
}
.col3 {
    background: url(../img/johny-goerend-Oz2ZQ2j8We8-unsplash.jpg);
    width: 200px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: auto;
}
.col4 {
    background: url(../img/nick-owuor-astro-nic-visuals-wDifg5xc9Z4-unsplash.jpg);
    width: 200px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: auto;
}
.col5 {
    background: url(../img/tengyart-PmnCG7_2Sc4-unsplash.jpg);
    width: 200px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: auto;
}