*{
   
    color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    background-color: blanchedalmond;
}
body{
    background-color: black
}
ul li{
    border-color: black;
}
td{
    border: 2px solid black;
}
table{
    margin: auto;
    width: 100%;
}