* {
    box-sizing: border-box;
    font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif
}

h1 {
    text-align: center;
    background-color: bisque;
}

h4 {
    color: #1c439b;
}

#manga-container {
    border: 1px solid #ddd;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
}

.type-container {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    align-items: center;
    padding: 0px 10px;
}

.play-icon {
    color: #4f74cf;
    font-size: 20px;
}

#type {
    /* background-color: #f8f8f8;
    padding: 5px; */
}

#genres {
    background-color: #f0f0f0;
    padding: 5px ;
}

#genres a {
    margin: 10px 5px;
    text-decoration: none;
    color: #787878;
    background-color: white;
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 11px;
}

#type {
    font-size: 12px;
    color: #787878;
}

.text-img {
    display: flex;
    height: 280px;
    /* background-color: #1c439b; */
}
#synopsis { 
    /* overflow: auto; */
    /* width: 10rem; */
    /* height: 150px; */
    /* text-align: start;
    font-size: 11px;
    padding: 0 10px;
    line-height: 1.5em; */
}

#manga-image {
    width: 50%;
}

#studio-info {
    overflow: auto;
    /* text-align: start;
    font-size: 11px; */
    text-align: start;
    font-size: 11px;
    padding: 0 10px;
    /* line-height: 1.5em; */
}

.extend {
    width: 100%;
    margin: 0 auto;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
}

#synopsisFull {
    /* display: none; */
}

#add-to-list {
    background-color: #4f74c8;
    padding: 3px 20px;
    color: white;
}

#score-member-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #545454;
    background-color: #f0f0f0 ;
    padding: 3px 0;
    font-size: 12px;
}

#studio, #theme {
    background-color: #f0f0f0;
    padding: 3px 0px;
}

#source, #demographic {
    padding: 3px 0px;
}