* {
    box-sizing: border-box;
}
h2 {
    color: #1c315e;;
}
body {
    margin-left: 35%;
    text-align: center;
    border: 1px solid black;
    width: 430px;
    height: 500px;
    padding: 20px;
    border: 5px solid black;
    color: #f49d1a;
}
#presentTime {
    left: 0px;
    color: #1c315e;;
    font-size: 12px;
}
input{
    border: none;
    background-color: antiquewhite;
    width: 200px;
    height: 30px;
    padding: 10px;
}
button{
    border: none;
    color: black;

    height: 30px;
    
}
#todo-create {
    width: 300px;
    height: 30px;
    background-color: antiquewhite;
    border-bottom: 3px solid #f49d1a;
    color: black;
}
#todo-create::placeholder {
    color: #f49d1a;
    padding: 5px;
}

#add {
    background-color: #f49d1a;
    border-bottom: 3px solid #f49d1a;
    height: 30px;
    width: 35px;
    margin-left: -4px;
    color: azure;

}

.time-stat {
    display: flex;
    justify-content: space-around;
}

.fa-solid {
    /* display: inline-block; */
    position: absolute;
    /* margin-left: 0px; */
    margin-right: 500px;
    
}

