h1 {
  color: #1c315e;
  text-align: center;
}
p {
  text-align: center;
}
#button-addon2 {
  background-color: #f49d1a;
}
.p-con {
  display: flex;
  justify-content: center;
}
#timer {
  margin-right: 20px;
}
#create {
  background-color: #fbf6f6;
}
