h1 {
  color: #003153;
  text-align: center;
}
p{
  text-align: center;
}
#button-addon2{
  background-color: orange;
}
.p-con{
  display: flex;
  justify-content: center;
}
#timer{
  margin-right: 20px;
}
#create{
  background-color: #faf0e6;
}
